


body{
margin:0;
padding:0;
background: url(metro.jpg);
background-repeat: no-repeat;
background-size:cover;

}
 header{
     position:absolute;
     top:0;
     left:0;
     padding: 0 80px;
     width:100%;
     background-color:#000d1a;
     box-sizing:border-box;

 }

 header .logo{
  color:white;
  height:50px;
  line-height: 50px;
  font: 24px bold; 
  float:left;
  box-sizing:border-box;
  padding-top:10px;


 }

 .logo a{
     color: #fff;
     text-decoration: none;
 }

 header nav{
     float:right;
}

header nav ul{
margin:0;
padding:0;
display:flex;
}

header nav ul li{
list-style: none;

}
header nav ul li a{
    height:50px;
    line-height:50px;
    padding:0 20px; 
    color:white;
    text-decoration: none;
    display:block;
   
    
    }
    header nav ul li a:hover{
        background-color:#004080 ;
        color:#fff;

    }
#departures{
    font-family: 'VT323', monospace;
    font-size:20px;
    color: yellow;
    padding-left:20px;
    border-radius: 7px;
    background-color: black;
    display:inline-block;
    width:400px;
    position: absolute;
    left:230px;
    top:110px;
    list-style: none;
        
}
